<!DOCTYPE html>
<html lang="en" style="display:grid; place-items:center">
<head>
  <meta charset="utf-8">

  <title>Bentley's Party</title>
  <meta name="description" content="Bentley's Party">
  <meta name="author" content="Bentley Carr">

  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="/js/question_controller.js"></script>
  <script type="text/javascript" src="/js/pv.js"></script>
  <script>
    QUESTION_CONTROLLER.id = '<%= question._id %>';
  </script>

</head>

<body style='max-width: 800px; text-align: center;'>
    <h1 class='question_heading'><%= question.data.prompt %></h1>
    <% if (question.data.imageSrc != null) { %>
      <img class='questionpage_image' src='<%= question.data.imageSrc %>'></img>
    <% } %>
    <% if (false) { %>
      <div class='question_subtext'>Submitted anonymously.</div>
    <% } else { %>
      <div class='question_subtext'>Submitted by <%= author_name %>.</div>
    <% } %>

    <div id='pv_submit'>
      <input onchange='widthChecker();' type='text' id='question_pv_textbox' autocomplete="off" name='submission'>

      <button onclick='PV_QC.submit();' id='question_pv_submit'>Submit</button>

      <small>This is a popular vote question. Answers with the most votes receive points.</small>
    </div>
    <div id='pv_vote' style='display: none;'>
      
    </div>
    
    <%  if (username == 'admin') { %>
      <div id='footer'>
        <button onclick='QUESTION_CONTROLLER.onAdvance();' class="footer-button-wide">Advance</button>
      </div>
    <% } %>
</body>
</html>