<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bentley's Party Questions</title>
  <meta name="description" content="Bentley's Party Dashboard">
  <meta name="author" content="Bentley Carr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
  <script>var MY_USERNAME = '<%= user.username %>';</script>
  <script type="text/javascript" src="/js/dashboard.js"></script>
</head>

<body>
  <h1 id='party_header'>Bentley's Party</h1>
  
  <h1>Question Dashboard</h1>
  <div class='card'>
    <h2>Hello!</h2>
    <p>Thank you for signing in and thank you for submitting questions for the quiz! It would be great if everyone could submit a bunch of questions for Saturday! Here are some suggestions:
      <ul>
        <li>Bentley-related trivia (or trivia related to someone specific in the quiz).</li>
        <li>Caption this image (select popular vote below).</li>
        <li>Cards-Against-Humanity or Quiplash style prompts (select popular vote below).</li>
      </ul>
      Please remember that there are both Aussie and Cambridge people in the quiz so please try to keep questions as inclusive as possible (but a few Aussie / Cambridge specific questions are ok too).</p>

      <p>If you have any questions (or you think the website is broken) please message me!</p>
      <p style='margin-bottom: 0;'>Cheers! :)<br />-Bentley</p>
  </div>


  <div class="card">
    <h2>Submit New Question</h2>
    <div id='dash_qtype_select'>
      <div style='margin-right:2px;' onclick='section_mult_choice();' class='option'>Multiple Choice</div>&nbsp;&nbsp;
      <div style='margin-left: 2px;' onclick='section_pop_vote();' class='option'>Popular Vote</div>
    </div>

    <div id='multiple_choice'>
      <p>Multiple choice question. Either you choose the correct answer, or if it's a Bentley-related question, then select 'Bentley chooses' and anyone who chooses the same answer as me gets points.</p>
      <small>(I don't get points if it's a 'Bentley chooses' question. 😢)</small>
      <hr>
      <div class='input_textbox' id='mc_question'>
        <label class='prompt_input_left' for="mc_name">Question</label>
        <input class='prompt_input_right' id='mc_prompt_text' type="text" name="prompt" required />
      </div>
      <div id='mc_choices'>
        <div class='input_textbox' id='mc_a'>
          <label class='prompt_input_left' for="mc_name">A</label>
          <input class='prompt_input_right' type="text" id="mc_a_text" name="mc_a" required />
        </div>
        <div class='input_textbox' id='mc_b'>
          <label class='prompt_input_left' for="mc_name">B</label>
          <input class='prompt_input_right' type="text" id="mc_b_text" name="mc_b" required />
        </div>
        <div class='input_textbox' id='mc_c'>
          <label class='prompt_input_left' for="mc_name">C</label>
          <input class='prompt_input_right' type="text" id="mc_c_text" name="mc_c" required />
        </div>
      </div>      
      <button id="mc_plus" style='font-size: 15pt;' class='squircle'>+</button>
      <!-- <button class='squircle'>Include Image</button> -->
      <div id='mc_image_div'>
        <p style='margin-top:0; margin-bottom:4px;'>Add Image (optional):
        <input type="file" id="mc_image_upload" onchange="onMcImageUpload();" accept="image/*"></p>
      </div>
      <div class='input_textbox' id='mc_correct'>
        <label class='prompt_input_left' for="mc_name">Correct Answer</label>
        <select class='prompt_input_right' id="mc_correct_select" name="mc_correct">
          <option id='select_0' value='-1'>Bentley chooses</option>
          <option id='select_a' value='0' selected disabled>A: </option>
          <option id='select_b' value='1' disabled>B: </option>
          <option id='select_c' value='2' disabled>C: </option>
        </select>
      </div>
      <% if (false) { %>
        <div>
          <input type="checkbox" id="mc_anon_check" name="anon">
          <label for="anon">Anonymous submission</label>
          <small>Hide my name during the quiz in case I want to be mean to Bentley. (I was forced to include this 😠)</small>
        </div>
      <% } %>
      <button id='mc_submit' type="submit">Submit</button>
    </div>

    <div id='popular_vote' style='display:none;'>
      <p>Enter a prompt below. Players submit responses to the prompt (eg like Cards against Humanity), and then we vote on which is the best / most funny. Players with most upvotes get points.</p>
      <hr>
      <div class='input_textbox' id='pv_prompt'>
        <label class='prompt_input_left' for="mc_name">Prompt</label>
        <input class='prompt_input_right' id='pv_prompt_text' type="text" name="prompt" required />
      </div>
      <div id='pv_image_div'>
        <p style='margin-top:0; margin-bottom:4px;'>Add Image (optional):
        <input type="file" id="pv_image_upload" onchange="onPvImageUpload();" accept="image/*"></p>
      </div>
      <button id='pv_submit' type="submit">Submit</button>
    </div>
  </div>

  <% var qq = questions.filter(q => q.author == username || username == 'admin'); %>
  <% if (qq.length > 0) { %>
    <div class='card'>
      <h2>Your Questions</h2>
      <% if (username == 'admin') { %>
        <div id='toggle_all'>
          Show questions by everyone <input id='toggle_all_input' oninput='toggleEveryone();' class='checkbox' type='checkbox' role='switch'>
        </div>
      <% } %>
      <div id='question_list'>
        <% qq.forEach(function(q,i) { %>
          <% if (q.type == 'mc') { %>
            <%- include('dashdisp_mc.ejs', {question: q}); %>
          <% } else if (q.type == 'pv') { %>
            <%- include('dashdisp_pv.ejs', {question: q}); %>
          <% } %>
          <% if (qq[i+1]) { %>
          <hr <% if (qq[i+1].author != username) { %> class='dashdisp_hidden'<% } %>>
          <% } %>
        <% }); %>
      </div>
    </div>
  <% } %>
  <div id='footer'>
    <form action='/logout?_method=DELETE' method="POST">
      <button class="footer-button-wide" type='submit'>Log out</button>
    </form>
  </div>
</body>
</html>