<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bentley's Party</title>
  <meta name="description" content="Bentley's Party">
  <meta name="author" content="Bentley Carr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/index.js"></script>
  <script>
    QUIZ.username = "<%= username %>";
  </script>
</head>

<body id="index_page" style="overflow:hidden;">
  <div id='main_section'>
    <iframe id='iframe1' src='/pages/blank'>
        
    </iframe>
    
    <iframe id='iframe2' src='/pages/blank'>
    
    </iframe>
    <iframe id='iframe3' src='/pages/blank'>
    
    </iframe>
    <div id='question_numbering'></div>
  </div>
  <div id=side_bar>
    <h1>Scores</h1>
    <div id='leaderboard'></div>
    <div class='border_left'></div>
  </div>
  <div id="footer">
      <form action='/logout?_method=DELETE' method="POST">
        <button class="footer-button-wide" type='submit'>Log out</button>
      </form>
      <%  if (username == 'admin') { %>
        <button class="footer-button-wide" onclick='window.location.href="/admin"'>Admin</button>
        <button id='last_page'>←</button>
        <button id='next_page'>→</button>
      <% } %>
  </div>
</body>
</html>