<!DOCTYPE html>
<html lang="en" style="display:grid; place-items:center">
<head>
  <meta charset="utf-8">

  <title>Bentley's Party</title>
  <meta name="description" content="Bentley's Party Login">
  <meta name="author" content="Bentley Carr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
</body>
</html>