<!DOCTYPE html>
<html lang="en" style="display:grid; place-items:center">
<head>
  <meta charset="utf-8">

  <title>Bentley's Party Login</title>
  <meta name="description" content="Bentley's Party Login">
  <meta name="author" content="Bentley Carr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/login.js"></script>

</head>

<body style='max-width: 800px; text-align: center;'>
    <h1 class='party_header'>The Quiz Hasn't Started Yet!!!</h1>
    <p style='text-align:center; font-size: 24pt;'>Go to the dashboard to submit questions for the quiz!</p>
    <p style='text-align:center; font-size: 18pt;'>If you don't submit questions, I will be sad. :(</p>
    <p style='text-align:center; font-size: 12pt;'>Also I can see how many questions you each submit.<br />So, if I don't want to hang out with you after this... that might be why...</p>
    <button onclick='top.window.location.replace("/dashboard");' class='big_dash_button' style='margin-top:10px;'>Dashboard</button>
</body>
</html>