<!DOCTYPE html>
<html lang="en" style="display:grid; place-items:center">
<head>
  <meta charset="utf-8">

  <title>Bentley's Party Login</title>
  <meta name="description" content="Bentley's Party Login">
  <meta name="author" content="Bentley Carr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/login.js"></script>

</head>

<body style='max-width: 1216px; text-align: center;'>
    <h1 style='max-width: 800px; display:block; margin:auto;' class='party_header'>The Quiz Hasn't Started Yet!!!</h1>
    <p style='max-width:800px; display:block; margin: auto; text-align:center; font-size: 24pt;'>Go to the <a href='/dashboard'>dashboard</a> to submit questions for the quiz!</p>
	<p>Alternatively, why don't we play Volleyball...</p>
	<iframe width="1216" height="784" style='overflow:hidden;' src="https://www.kelseycarriage.co.uk/game?<%= username %>"></iframe>
</body>
</html>